body {
	padding-top: 50px;
}

.app-datetime {

}

.app-datetime div {
	display: inline;
	padding-right: 5px;
}

.app-datetime select {
	display: inline;
	width: 80px;
}

.app-table-actions a {
	margin-left: 20px;
}

tr.app-sale-line td.app-product select {
	width: 200px;
}

tr.app-sale-line td.app-punit input,
tr.app-sale-line td.app-ptotal input {
	width: 100px;
}

tr.app-sale-line td.app-count input {
	width: 50px;
}